.root {
    -fx-background-color: #1f1f1f;
    -fx-font-family: "Arial", sans-serif;
}

.label {
    -fx-font-size: 16px;
    -fx-text-fill: #D3DAD9;
}

.text-field {
    -fx-background-color: #D3DAD9;
    -fx-text-fill: #1f1f1f;
    -fx-background-radius: 5px;
    -fx-border: none;
}

.combo-box {
    -fx-background-color: #D3DAD9;
    -fx-text-fill: #1f1f1f;
    -fx-background-radius: 5px;
    -fx-border: none;
}